label {
  color: grey;
}
#header {
  margin: 10px;
  padding: 40px;
  background-color: #e6e6e6;
  text-align: center;
  font-family: fantasy;
}
 body {
   background-color: tan;
 }
 img {
   float: right;
   margin: 20px;
 }

 .studentInfo, .cSharpClass, .rubyClass, .androidClass, .html, .css, .cSharp, .java, .php, .ruby, .javaScript, .android, .design, .drupal, .dotNet, .rails, .react {
   display: none;
 }

  #cSharp, #ruby, #android {
   cursor: pointer;
   color: #0088cc;
 }

 #cSharp:hover {
   text-decoration: underline;
 }
 #ruby:hover {
   text-decoration: underline;
 }
 #android:hover {
   text-decoration: underline;
 }
