label {
  color: grey;
  font-weight: lighter;
}
h1 {
  margin: 10px;
  padding: 40px;
  background-color: tan;
  text-align: center;
  font-family: fantasy;
  font-weight: bold;
}
h4 {
  font-weight: lighter;
}
 body {
   background-color: #e6e6e6;
 }
 img {
   float: right;
   margin: 20px;
 }
<<<<<<< HEAD
 p {
  font-weight: lighter;
}
 .studentInfo {
=======

 .studentInfo, .cSharpClass, .rubyClass, .androidClass, .html, .css, .cSharp, .java, .php, .ruby, .javaScript, .android, .design, .drupal, .dotNet, .rails, .react {
>>>>>>> eb614be55afb850ce452bb08aae4713648a87d92
   display: none;
 }

  #class-cSharp, #class-ruby, #class-android, #html, #css, #cSharp, #java, #php, #ruby, #javaScript, #android, #design, #drupal, #net, #rails, #react {
   cursor: pointer;
   color: #0088cc;
 }

 #class-cSharp:hover, #class-ruby:hover, #class-android:hover, #html:hover, #css:hover, #cSharp:hover, #java:hover, #php:hover, #ruby:hover, #javaScript:hover, #android:hover, #design:hover, #drupal:hover, #net:hover, #rails:hover, #react:hover {
   text-decoration: underline;
 }
