label {
  color: grey;
}
#header {
  margin: 10px;
  padding: 40px;
  background-color: #e6e6e6;
  text-align: center;
  font-family: fantasy;
}
 body {
   background-color: tan;
 }
 img {
   float: right;
   margin: 20px;
 }

 .studentInfo, .androidClass, .html, .css, .cSharp, .java, .php, .ruby, .javaScript, .android, .design, .drupal, .dotNet, .rails, .react {
   display: none;
 }
